rs-presenter{
	@extend %component;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	background-color: $dark-2;
	width: 100%;
	height: 120px;
	padding: 0 nth($paddings, 2);

	span{
		font-size: 3rem;
		font-family: $font-family-title;
		text-align: center;
		color: $light-1;
		margin-bottom: 0;
	}

	rs-icon{
		color: $light-3;
	}

	&:after{
		@extend %accent-bar;
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

}