rs-restaurant-entry{
	@extend %component;
	@include padding(2);

	height: 120px;
	width: 100%;
	position: relative;

	border-radius: 20px;
	overflow: hidden;

	.content{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		z-index: 1;
	}

	.background{
		@include background-image(''); //'' is placeholder for the dynamic image inserted by ng
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	h3{
		font-size: 3rem;
		font-weight: 200;
		font-family: $font-family-title;
		color: $light-1;
		position: relative;

		&:after{
			@extend %accent-bar;
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
		}
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $gradient-bottom-shadow;
		z-index: 0;
	}
}