page-reservation-review {
	ion-content{
		background-color: $background;
	}
	ion-item{
		padding-left: 0 !important;
	}
	.review-line{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		white-space: normal;

		font-family: $font-family-text;
		font-size: 2rem;
		color: $dark-1;

		rs-icon{
			margin-right: nth($margins, 1);
		}

		span:nth-of-type(2){
			flex: 1;
			color: $dark-2;
			text-align: right;
		}
	}
}
